.content {
  padding: 90px 0;
}

.content-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.content-image img {
  width: 400px;
  height: 400px;
}

.content-text h2 {
  font-size: 34px;
  margin-bottom: 15px;
}

.content-text p {
  font-size: 14px;
  color: var(--second-color);
  line-height: 1.7;
  margin-bottom: 25px;
}

.content-text button {
  background: #4CAF4F;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 6px;
  cursor: pointer;
}


@media screen and (max-width: 768px) {

  .content-container {
    flex-direction: column;
    text-align: center;
  }

  .content-image img {
    max-width: 300px;
  }
}