.stats {
  background: #f5f7fa;
  padding: 70px 0;
}

.stats-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.stats-text h2 {
  font-size: 36px;
  line-height: 1.3;
}

.stats-text span {
  color: #4CAF4F;
}

.stats-text p {
  color: var(--second-color);
  margin-top: 10px;
}

.stats-numbers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 60px;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.stat-item h3 {
  font-size: 22px;
}

.stat-item p {
  font-size: 14px;
  color: var(--second-color);}


  @media screen and (max-width: 768px) {

  .stats-container {
    flex-direction: column;
    text-align: center;
  }

  .stats-numbers {
    grid-template-columns: 1fr;
  }
}