.testimonial {
  background: #f5f7fa;
  padding: 80px 0;
}

.testimonial-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.testimonial-image img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.testimonial-text {
  color: var(--second-color);
  font-size: 14px;
  line-height: 1.7;
}

.testimonial-content h4 {
  color: #4CAF4F;
  font-size: 18px;
}

.testimonial-content span {
  font-size: 14px;
  color: var(--second-color);
}

.testimonial-logos {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.testimonial-logos img {
  height: 30px;
}

.testimonial-logos a {
  color: #4CAF4F;
  font-weight: 600;
  text-decoration: none;
}



@media screen and (max-width: 768px) {
  .testimonial-container {
    flex-direction: column;
    text-align: center;
  }

  .testimonial-logos {
    justify-content: center;
  }
}